/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
} */

body {
    /* height: 100vh;
   display: flex;
    justify-content: center;
    align-items: center; */
   background-color: rgb(96, 29, 29);

      align-items: center;
      width: 100%;
  max-width: 640px;
}

.logo {
    width: 80px;       
    margin-bottom: -30px;
    margin-left: 50px;

}


.nav {
    margin-top: 0px;
    border-radius:12px ;
    font-family:'Times New Roman', Times, serif;
    /* background-color: black; */
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    width: 100%;
  max-width: 640px;
  
   
}

.nav a {
    /* background-color: blueviolet; */
    border-radius: 12px;
    padding: 10px;
    font-style: italic;
   font-weight: 800;
   color: white;
text-decoration: none;
font-size: 20px;
   


}

a:hover {
  text-decoration: underline; /* underline only on hover */
}

.description {
    font-style: oblique;
    margin-top: 30px;
    margin-left: 50px;
    width: 100%;
  max-width: 640px;
  padding-left: 300px;
  color: rgb(165, 169, 171);
}

.image {
margin: 0px;
width: 0px;
padding-left: 150px;

}

.img-sun{

    width: 1000px;
    border-radius: 12px;
    height: 300px;
    
}

.weather-container {
    /* background: white; */
    margin-left: 300px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    /* width: 1000px; */
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 100%;
  max-width: 640px;
  color: aliceblue;
}

.weather-container h1 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background: #4facfe;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}




button:hover {
    background: #00c6ff;
}

.weather-info {
    margin-top: 20px;
}



